{% extends 'layout/app.html' %}

{% block content %}

    <!-- Banner -->
    <div class="careerfy-banner-two careerfy-typo-wrap">
        <div class="careerfy-banner-caption">
            <div class="container">
                <h1>Want To Land Your Dream Job?</h1>
                <p>Aliquam Vestibulum Cursus Felis. In Iaculis Iaculis Sapien Ac Condimentum. Vestibulum Congue
                    Pellentesque Dui Non, Semper Orci.</p>
                <div class="clearfix"></div>
                <a href="#" class="careerfy-banner-two-btn">Find a Jobs</a>
                <div class="clearfix"></div>
                <form class="careerfy-banner-search-two">
                    <ul>
                        <li>
                            <i class="careerfy-icon careerfy-search"></i>
                            <input value="Job Title, Keywords, or Company"
                                   onblur="if(this.value == '') { this.value ='Job Title, Keywords, or Company'; }"
                                   onfocus="if(this.value =='Job Title, Keywords, or Company') { this.value = ''; }"
                                   type="text">
                        </li>
                        <li>
                            <input value="City, State or ZIP"
                                   onblur="if(this.value == '') { this.value ='City, State or ZIP'; }"
                                   onfocus="if(this.value =='City, State or ZIP') { this.value = ''; }" type="text">
                            <i class="careerfy-icon careerfy-location"></i>
                        </li>
                        <li>
                            <i class="careerfy-icon careerfy-folder"></i>
                            <div class="careerfy-select-style">
                                <select>
                                    <option>Categories</option>
                                    <option>Categories</option>
                                    <option>Categories</option>
                                </select>
                            </div>
                        </li>
                        <li><input type="submit" value="Search Jobs"></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!-- Banner -->

    <!-- Main Content -->
    <div class="careerfy-main-content">

        <!-- Main Section -->
        <div class="careerfy-main-section careerfy-modren-services-full">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <!-- FancyTitle -->
                        <div class="careerfy-fancy-title careerfy-fancy-title-two">
                            <h2>Top employers recruting <span>with us</span></h2>
                            <p>A better career is out there. We'll help you find it to use.</p>
                        </div>
                        <!-- FancyTitle -->
                        <!-- Services -->
                        <div class="careerfy-services careerfy-modren-services">
                            <ul class="row">
                                <li class="col-md-3">
                                    <div class="careerfy-modren-services-wrap">
                                        <img src="extra-images/modren-service-logo-1.png" alt="">
                                        <p>This is the best theme I have seen in years. It all the needed for a perfect
                                            Job portal</p>
                                        <span>1,352 jobs</span>
                                        <a href="#" class="careerfy-modren-service-link"><i
                                                class="careerfy-icon careerfy-arrows22"></i></a>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="careerfy-modren-services-wrap">
                                        <img src="extra-images/modren-service-logo-2.png" alt="">
                                        <p>I know, I know! This is the best poll ever made and you are not sure which
                                            answer to pick ;)</p>
                                        <span>527 jobs</span>
                                        <a href="#" class="careerfy-modren-service-link"><i
                                                class="careerfy-icon careerfy-arrows22"></i></a>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="careerfy-modren-services-wrap">
                                        <img src="extra-images/modren-service-logo-3.png" alt="">
                                        <p>Euripidis referrentur his. Ad pro oporteat laboramus scriptorem, nobis decore
                                            timeam in pri.</p>
                                        <span>491 jobs</span>
                                        <a href="#" class="careerfy-modren-service-link"><i
                                                class="careerfy-icon careerfy-arrows22"></i></a>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="careerfy-modren-services-wrap">
                                        <img src="extra-images/modren-service-logo-4.png" alt="">
                                        <p>Ei has veniam liberavisse, omnes utinam docendi eos at, id usu eligendi
                                            deleniti.</p>
                                        <span>364 jobs</span>
                                        <a href="#" class="careerfy-modren-service-link"><i
                                                class="careerfy-icon careerfy-arrows22"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Services -->
                        <div class="careerfy-modren-btn"><a href="#">See More</a></div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Main Section -->

        <!-- Main Section -->
        <div class="careerfy-main-section careerfy-joblisting-plain-full">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <!-- FancyTitle -->
                        <div class="careerfy-fancy-title careerfy-fancy-title-two">
                            <h2>Recommend <span>Jobs</span></h2>
                            <p>A better career is out there. We'll help you find it to use.</p>
                        </div>
                        <!-- FancyTitle -->
                        <!-- Job Listings -->
                        <div class="careerfy-job careerfy-joblisting-plain">
                            <ul class="row">
                                {% for job in jobs %}
                                    <li class="col-md-12">
                                        <div class="careerfy-joblisting-plain-wrap">
                                            <figure><a href="{{ job.get_absolute_url }}"><img src="{{ job.image }}"
                                                                     alt=""></a>
                                            </figure>
                                            <div class="careerfy-joblisting-plain-text">
                                                <div class="careerfy-joblisting-plain-left">
                                                    <h2><a href="{{ job.get_absolute_url }}">{{ job.title }}</a>
                                                        <span>Featured</span></h2>
                                                    <ul>
                                                        <li><span>@ {{ job.company.name }}</span></li>
                                                        <li>
                                                            <i class="careerfy-icon careerfy-filter-tool-black-shape"></i>
                                                            {{ job.category.name }}
                                                        </li>
                                                        <li><i class="careerfy-icon careerfy-money"></i> $70000</li>
                                                    </ul>
                                                </div>
                                                <div class="careerfy-joblisting-plain-right">
                                                    <small><i class="careerfy-icon careerfy-maps-and-flags"></i>
                                                        Netherlands, Rotterdam</small>
                                                    <a href="#" class="careerfy-job-like"><i
                                                            class="fa fa-heart"></i></a>
                                                    <span class="careerfy-joblisting-plain-status">{{ job.get_type_display }}</span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Job Listings -->
                        <div class="careerfy-modren-btn"><a href="{% url 'jobs:list' %}">Browse all jobs</a></div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Main Section -->

        <!-- Main Section -->
        <div class="careerfy-main-section">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-6 careerfy-parallex-box">
                        <div class="careerfy-parallex-box-wrap">
                            <h2>Start your Career Today by Singing Up Now!</h2>
                            <p>HireRight Wordpress Theme is a complete solution is loaded with options, both for
                                recruiter and for candidates. Recruiters and companies can post, edit and manage job
                                offers and company profiles and candidates can do the same things with their
                                resumes.</p>
                            <a href="#" class="careerfy-parallex-box-btn">Sing Up Now</a>
                        </div>
                    </div>
                    <div class="col-md-6 careerfy-media-player">
                        <video src="build/echo-hereweare.mp4" poster="build/parallex-video-box-img.jpg"
                               controls="controls" preload=""></video>
                    </div>

                </div>
            </div>
        </div>
        <!-- Main Section -->

        <!-- Main Section -->
        <div class="careerfy-main-section careerfy-news-grid-full">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <!-- FancyTitle -->
                        <div class="careerfy-fancy-title careerfy-fancy-title-two">
                            <h2>Latest Articles</h2>
                            <p>A better career is out there. We'll help you find it to use.</p>
                        </div>
                        <!-- FancyTitle -->
                        <!-- Latest Blogs -->
                        <div class="careerfy-blog careerfy-news-grid">
                            <ul class="row">
                                <li class="col-md-4">
                                    <div class="careerfy-news-grid-wrap">
                                        <figure><a href="#"><img src="extra-images/latest-blog-1.jpg" alt=""></a>
                                        </figure>
                                        <div class="careerfy-news-grid-text">
                                            <ul>
                                                <li>OCT 6, 2016</li>
                                                <li><a href="#">Culture</a></li>
                                            </ul>
                                            <h2><a href="#">Are You Paid Fairly? See Your Market Worth in Seconds</a>
                                            </h2>
                                            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam tempore,
                                                cum soluta nobis est.</p>
                                            <a href="#" class="careerfy-modren-service-link"><i
                                                    class="careerfy-icon careerfy-arrows22"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="careerfy-news-grid-wrap">
                                        <figure><a href="#"><img src="extra-images/latest-blog-2.jpg" alt=""></a>
                                        </figure>
                                        <div class="careerfy-news-grid-text">
                                            <ul>
                                                <li>OCT 6, 2016</li>
                                                <li><a href="#">Culture</a></li>
                                            </ul>
                                            <h2><a href="#">Are You Paid Fairly? See Your Market Worth in Seconds</a>
                                            </h2>
                                            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam tempore,
                                                cum soluta nobis est.</p>
                                            <a href="#" class="careerfy-modren-service-link"><i
                                                    class="careerfy-icon careerfy-arrows22"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="careerfy-news-grid-wrap">
                                        <figure><a href="#"><img src="extra-images/latest-blog-3.jpg" alt=""></a>
                                        </figure>
                                        <div class="careerfy-news-grid-text">
                                            <ul>
                                                <li>OCT 6, 2016</li>
                                                <li><a href="#">Culture</a></li>
                                            </ul>
                                            <h2><a href="#">Are You Paid Fairly? See Your Market Worth in Seconds</a>
                                            </h2>
                                            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam tempore,
                                                cum soluta nobis est.</p>
                                            <a href="#" class="careerfy-modren-service-link"><i
                                                    class="careerfy-icon careerfy-arrows22"></i></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Latest Blogs -->
                        <div class="careerfy-modren-btn"><a href="#">Keep Reading</a></div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Main Section -->

        <!-- Main Section -->
        <div class="careerfy-main-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <!-- FancyTitle -->
                        <div class="careerfy-fancy-title careerfy-fancy-title-two">
                            <h2>Our Partners</h2>
                            <p>A better career is out there. We'll help you find it to use.</p>
                        </div>
                        <!-- FancyTitle -->
                        <!-- Partner -->
                        <div class="careerfy-partnertwo-slider">
                            <div class="careerfy-partnertwo-slider-layer">
                                <a href="#"><img src="extra-images/partner-two-logo-1.png" alt=""></a>
                            </div>
                            <div class="careerfy-partnertwo-slider-layer">
                                <a href="#"><img src="extra-images/partner-two-logo-2.png" alt=""></a>
                            </div>
                            <div class="careerfy-partnertwo-slider-layer">
                                <a href="#"><img src="extra-images/partner-two-logo-3.png" alt=""></a>
                            </div>
                            <div class="careerfy-partnertwo-slider-layer">
                                <a href="#"><img src="extra-images/partner-two-logo-4.png" alt=""></a>
                            </div>
                            <div class="careerfy-partnertwo-slider-layer">
                                <a href="#"><img src="extra-images/partner-two-logo-5.png" alt=""></a>
                            </div>
                            <div class="careerfy-partnertwo-slider-layer">
                                <a href="#"><img src="extra-images/partner-two-logo-6.png" alt=""></a>
                            </div>
                            <div class="careerfy-partnertwo-slider-layer">
                                <a href="#"><img src="extra-images/partner-two-logo-6.png" alt=""></a>
                            </div>
                        </div>
                        <!-- Partner -->
                    </div>

                </div>
            </div>
        </div>
        <!-- Main Section -->

        <!-- Main Section -->
        <div class="careerfy-main-section careerfy-testimonial-slider-full">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <!-- FancyTitle -->
                        <div class="careerfy-fancy-title careerfy-fancy-title-two">
                            <h2>What people say <span>about us</span></h2>
                        </div>
                        <!-- FancyTitle -->
                        <!-- Testimonial -->
                        <div class="careerfy-testimonial-styletwo">
                            <div class="careerfy-testimonial-styletwo-layer">
                                <img src="extra-images/testimonial-slider-thumb-1.png" alt="">
                                <p>Nam eu eleifend nulla. Duis consectetur sit amet risus sit amet venenatis.
                                    Pellentesque pulvinar ante a tincidunt placerat. Donec dapibus efficitur arcu, a
                                    rhoncus lectus egestas elementum.</p>
                                <span>Adeline Morrison</span>
                                <small>Branding Manage - HireRight.com</small>
                            </div>
                            <div class="careerfy-testimonial-styletwo-layer">
                                <img src="extra-images/testimonial-slider-thumb-2.png" alt="">
                                <p>Nam eu eleifend nulla. Duis consectetur sit amet risus sit amet venenatis.
                                    Pellentesque pulvinar ante a tincidunt placerat. Donec dapibus efficitur arcu, a
                                    rhoncus lectus egestas elementum.</p>
                                <span>Johnny Sanders</span>
                                <small>Branding Manage - HireRight.com</small>
                            </div>
                            <div class="careerfy-testimonial-styletwo-layer">
                                <img src="extra-images/testimonial-slider-thumb-3.png" alt="">
                                <p>Nam eu eleifend nulla. Duis consectetur sit amet risus sit amet venenatis.
                                    Pellentesque pulvinar ante a tincidunt placerat. Donec dapibus efficitur arcu, a
                                    rhoncus lectus egestas elementum.</p>
                                <span>Johnny Sanders</span>
                                <small>Branding Manage - HireRight.com</small>
                            </div>
                        </div>
                        <!-- Testimonial -->
                    </div>

                </div>
            </div>
        </div>
        <!-- Main Section -->

    </div>
    <!-- Main Content -->

{% endblock content %}