{% extends 'layout/app.html' %}

{% block content %}
    <!-- SubHeader -->
    <div class="careerfy-job-subheader">
        <span class="careerfy-banner-transparent"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
    <!-- SubHeader -->

    <!-- Main Content -->
    <div class="careerfy-main-content">

        <!-- Main Section -->
        <div class="careerfy-main-section">
            <div class="container">
                <div class="row">

                    <!-- Job Detail List -->
                    <div class="careerfy-column-12">
                        <div class="careerfy-typo-wrap">
                            <figure class="careerfy-jobdetail-list">
                                <span class="careerfy-jobdetail-listthumb"><img src="/{{ job.image }}"
                                                                                alt=""></span>
                                <figcaption>
                                    <h2>{{ job.title }}</h2>
                                    <span><small class="careerfy-jobdetail-type">{{ job.get_type_display }}</small> {{ job.company.name }} <small
                                            class="careerfy-jobdetail-postinfo">Posted {{ job.created_at|timesince }}</small></span>
                                    <ul class="careerfy-jobdetail-options">
                                        <li><i class="fa fa-map-marker"></i> Derry Street, London, United Kingdom <a
                                                href="#" class="careerfy-jobdetail-view">View om Map</a></li>
                                        <li><i class="careerfy-icon careerfy-calendar"></i> Post Date: {{ job.created_at|date:"M d, Y" }}</li>
                                        <li><i class="careerfy-icon careerfy-calendar"></i> Apply Before: Aug 15, 2018
                                        </li>
                                        <li><i class="careerfy-icon careerfy-summary"></i> Applications 4</li>
                                        <li><a href="#"><i class="careerfy-icon careerfy-view"></i> Views 3806</a></li>
                                    </ul>
                                    <a href="#" class="careerfy-jobdetail-btn active"><i
                                            class="careerfy-icon careerfy-add-list"></i> Shortlist</a>
                                    <a href="#" class="careerfy-jobdetail-btn"><i
                                            class="careerfy-icon careerfy-envelope"></i> Email Job</a>
                                    <ul class="careerfy-jobdetail-media">
                                        <li><span>Share:</span></li>
                                        <li><a href="#" data-original-title="facebook"
                                               class="careerfy-icon careerfy-facebook-logo-in-circular-button-outlined-social-symbol"></a>
                                        </li>
                                        <li><a href="#" data-original-title="twitter"
                                               class="careerfy-icon careerfy-twitter-circular-button"></a></li>
                                        <li><a href="#" data-original-title="linkedin"
                                               class="careerfy-icon careerfy-linkedin"></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <!-- Job Detail List -->

                    <!-- Job Detail Content -->
                    <div class="careerfy-column-8">
                        <div class="careerfy-typo-wrap">
                            <div class="careerfy-jobdetail-content">
                                <div class="careerfy-content-title"><h2>Job Detail</h2></div>
                                <div class="careerfy-jobdetail-services">
                                    <ul class="careerfy-row">
                                        <li class="careerfy-column-4">
                                            <i class="careerfy-icon careerfy-salary"></i>
                                            <div class="careerfy-services-text">Offerd Salary <small>£50,000+</small>
                                            </div>
                                        </li>
                                        <li class="careerfy-column-4">
                                            <i class="careerfy-icon careerfy-social-media"></i>
                                            <div class="careerfy-services-text">Career Level <small>{{ job.get_type_display }}</small>
                                            </div>
                                        </li>
                                        <li class="careerfy-column-4">
                                            <i class="careerfy-icon careerfy-briefcase"></i>
                                            <div class="careerfy-services-text">Experience <small>7 Years </small></div>
                                        </li>
                                        <li class="careerfy-column-4">
                                            <i class="careerfy-icon careerfy-user"></i>
                                            <div class="careerfy-services-text">Gender <small>Male</small></div>
                                        </li>
                                        <li class="careerfy-column-4">
                                            <i class="careerfy-icon careerfy-network"></i>
                                            <div class="careerfy-services-text">Industry <small>{{ job.category.name }}</small></div>
                                        </li>
                                        <li class="careerfy-column-4">
                                            <i class="careerfy-icon careerfy-mortarboard"></i>
                                            <div class="careerfy-services-text">Qualification <small>Master’s
                                                Degree</small></div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="careerfy-content-title"><h2>Job Description</h2></div>
                                <div class="careerfy-description">
                                    <p>{{ job.content }}</p>
                                </div>
                                <div class="careerfy-content-title"><h2>Required skills</h2></div>
                                <div class="careerfy-jobdetail-tags">
                                    <a href="#">AutoCAD</a>
                                    <a href="#">Civils</a>
                                    <a href="#">food</a>
                                    <a href="#">17th edition</a>
                                    <a href="#">electrical</a>
                                    <a href="#">engineer</a>
                                    <a href="#">engineer</a>
                                    <a href="#">engineering</a>
                                    <a href="#">dairy</a>
                                    <a href="#">projects</a>
                                    <a href="#">Maintenance engineer</a>
                                </div>
                            </div>
                            <div class="careerfy-section-title"><h2>Other jobs you may like</h2></div>
                            <div class="careerfy-job careerfy-joblisting-classic careerfy-jobdetail-joblisting">
                                <ul class="careerfy-row">
                                    <li class="careerfy-column-12">
                                        <div class="careerfy-joblisting-classic-wrap">
                                            <figure><a href="#"><img src="extra-images/job-listing-logo-1.png"
                                                                     alt=""></a></figure>
                                            <div class="careerfy-joblisting-text">
                                                <div class="careerfy-list-option">
                                                    <h2><a href="#">Need Senior Rolling Stock Technician</a> <span>Featured</span>
                                                    </h2>
                                                    <ul>
                                                        <li><a href="#">@ Massimo Artemisis</a></li>
                                                        <li><i class="careerfy-icon careerfy-maps-and-flags"></i>
                                                            Netherlands, Rotterdam
                                                        </li>
                                                        <li>
                                                            <i class="careerfy-icon careerfy-filter-tool-black-shape"></i>
                                                            Sales & Marketing
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="careerfy-job-userlist">
                                                    <a href="#" class="careerfy-option-btn">Freelance</a>
                                                    <a href="#" class="careerfy-job-like"><i
                                                            class="fa fa-heart"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-12">
                                        <div class="careerfy-joblisting-classic-wrap">
                                            <figure><a href="#"><img src="extra-images/job-listing-logo-2.png"
                                                                     alt=""></a></figure>
                                            <div class="careerfy-joblisting-text">
                                                <div class="careerfy-list-option">
                                                    <h2><a href="#">Job in Computer Information Tech</a></h2>
                                                    <ul>
                                                        <li><a href="#">@ Sapient</a></li>
                                                        <li><i class="careerfy-icon careerfy-maps-and-flags"></i>
                                                            Netherlands, Rotterdam
                                                        </li>
                                                        <li>
                                                            <i class="careerfy-icon careerfy-filter-tool-black-shape"></i>
                                                            Development
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="careerfy-job-userlist">
                                                    <a href="#" class="careerfy-option-btn careerfy-blue">Full time</a>
                                                    <a href="#" class="careerfy-job-like"><i
                                                            class="fa fa-heart"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-12">
                                        <div class="careerfy-joblisting-classic-wrap">
                                            <figure><a href="#"><img src="extra-images/job-listing-logo-3.png"
                                                                     alt=""></a></figure>
                                            <div class="careerfy-joblisting-text">
                                                <div class="careerfy-list-option">
                                                    <h2><a href="#">Website Information Officer Required</a></h2>
                                                    <ul>
                                                        <li><a href="#">@ Mindshare</a></li>
                                                        <li><i class="careerfy-icon careerfy-maps-and-flags"></i>
                                                            Netherlands, Rotterdam
                                                        </li>
                                                        <li>
                                                            <i class="careerfy-icon careerfy-filter-tool-black-shape"></i>
                                                            Telecommunication
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="careerfy-job-userlist">
                                                    <a href="#" class="careerfy-option-btn careerfy-red">Temporary</a>
                                                    <a href="#" class="careerfy-job-like"><i
                                                            class="fa fa-heart"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-12">
                                        <div class="careerfy-joblisting-classic-wrap">
                                            <figure><a href="#"><img src="extra-images/job-listing-logo-4.png"
                                                                     alt=""></a></figure>
                                            <div class="careerfy-joblisting-text">
                                                <div class="careerfy-list-option">
                                                    <h2><a href="#">Junior Support Engineer VBA</a>
                                                        <span>Featured</span></h2>
                                                    <ul>
                                                        <li><a href="#">@ Disneyland</a></li>
                                                        <li><i class="careerfy-icon careerfy-maps-and-flags"></i>
                                                            Netherlands, Rotterdam
                                                        </li>
                                                        <li>
                                                            <i class="careerfy-icon careerfy-filter-tool-black-shape"></i>
                                                            Food Services
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="careerfy-job-userlist">
                                                    <a href="#" class="careerfy-option-btn">Freelance</a>
                                                    <a href="#" class="careerfy-job-like"><i
                                                            class="fa fa-heart"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-12">
                                        <div class="careerfy-joblisting-classic-wrap">
                                            <figure><a href="#"><img src="extra-images/job-listing-logo-5.png"
                                                                     alt=""></a></figure>
                                            <div class="careerfy-joblisting-text">
                                                <div class="careerfy-list-option">
                                                    <h2><a href="#">Technology Senior Officer Norway Office</a></h2>
                                                    <ul>
                                                        <li><a href="#">@ LK Collections</a></li>
                                                        <li><i class="careerfy-icon careerfy-maps-and-flags"></i>
                                                            Netherlands, Rotterdam
                                                        </li>
                                                        <li>
                                                            <i class="careerfy-icon careerfy-filter-tool-black-shape"></i>
                                                            Health Care
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="careerfy-job-userlist">
                                                    <a href="#" class="careerfy-option-btn careerfy-green">Part time</a>
                                                    <a href="#" class="careerfy-job-like"><i
                                                            class="fa fa-heart"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Job Detail Content -->
                    <!-- Job Detail SideBar -->
                    <aside class="careerfy-column-4">
                        <div class="careerfy-typo-wrap">
                            <div class="widget widget_apply_job">
                                <div class="widget_apply_job_wrap">
                                    <a href="#" class="careerfy-applyjob-btn">Apply for the job</a>
                                    <span>Application ends in 4d 5h 3m</span>
                                    <div class="careerfy-applywith-title"><small>OR apply with</small></div>
                                    <p>Know someone who would be perfect for this role this role? Be a pal, let them
                                        know.</p>
                                    <ul>
                                        <li><a href="#"><i class="careerfy-icon careerfy-facebook-logo-1"></i> Facebook</a>
                                        </li>
                                        <li><a href="#"><i class="careerfy-icon careerfy-linkedin-logo"></i>
                                            LinkedIn</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="careerfy-sendmessage-btn"><i
                                        class="careerfy-icon careerfy-envelope"></i> Send a message</a>
                            </div>
                            <div class="widget jobsearch_widget_map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d22589232.038285658!2d-103.9763543971716!3d46.28054447273778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1507595834401"></iframe>
                            </div>
                            <div class="widget widget_add">
                                <img src="extra-images/jobdetail-add.jpg" alt="">
                            </div>
                            <div class="widget widget_view_jobs">
                                <div class="careerfy-widget-title"><h2>More Jobs from Allied Group</h2></div>
                                <ul>
                                    <li>
                                        <h6><a href="#">Electrical & Mechanical Engineer / Site Maintenance
                                            Technician</a></h6>
                                        <span>£32,000 - £35,000 per annum</span>
                                        <small>Netherlands, Rotterdam</small>
                                    </li>
                                    <li>
                                        <h6><a href="#">Electrical Maintenance Engineer PLCs</a></h6>
                                        <span>£25,000 - £33,000 per annum</span>
                                        <small>London, United Kingdom</small>
                                    </li>
                                    <li>
                                        <h6><a href="#">Electrical Maintenance Engineer FMCG Manufacturer</a></h6>
                                        <span>£30,000 - £33,000 per annum</span>
                                        <small>Sutton-in-Ashfield, Nottinghamshire</small>
                                    </li>
                                </ul>
                                <a href="#" class="widget_view_jobs_btn">View all jobs <i
                                        class="careerfy-icon careerfy-arrows32"></i></a>
                            </div>
                        </div>
                    </aside>
                    <!-- Job Detail SideBar -->

                </div>
            </div>
        </div>
        <!-- Main Section -->

    </div>
    <!-- Main Content -->
{% endblock content %}