<footer id="careerfy-footer" class="careerfy-footer-two">
    <div class="container">
        <!-- Footer Widget -->
        <div class="careerfy-footer-widget">
            <div class="row">
                <aside class="col-md-9">
                    <div class="widget widget_section_nav">
                        <ul>
                            <li><a href="#">Shortcodes</a></li>
                            <li><a href="#">Browse Jobs</a></li>
                            <li><a href="#">Browse Candidates</a></li>
                            <li><a href="#">Help Center</a></li>
                        </ul>
                    </div>
                    <div class="widget widget_section_nav">
                        <ul>
                            <li><a href="#">Job Page</a></li>
                            <li><a href="#">Browse Categories</a></li>
                            <li><a href="#">Employer Dashboard</a></li>
                            <li><a href="#">Guidelines</a></li>
                        </ul>
                    </div>
                    <div class="widget widget_section_nav">
                        <ul>
                            <li><a href="#">Job Page Alternative</a></li>
                            <li><a href="#">Submit Resume</a></li>
                            <li><a href="#">Add Job</a></li>
                            <li><a href="#">NEW - Terms of Use</a></li>
                        </ul>
                    </div>
                    <div class="widget widget_section_nav">
                        <ul>
                            <li><a href="#">Resume Page</a></li>
                            <li><a href="#">Candidate Dashboard</a></li>
                            <li><a href="#">Job Packages</a></li>
                            <li><a href="#">NEW - Privacy & Cookies</a></li>
                        </ul>
                    </div>
                    <div class="careerfy-footer-newslatter">
                        <form>
                            <label>Subscribe for weekly newsletter</label>
                            <ul>
                                <li>
                                    <i class="careerfy-icon careerfy-mail"></i>
                                    <input value="Sign up for newsletter professionally designed templates."
                                           onblur="if(this.value == '') { this.value ='Sign up for newsletter professionally designed templates.'; }"
                                           onfocus="if(this.value =='Sign up for newsletter professionally designed templates.') { this.value = ''; }"
                                           type="text">
                                </li>
                                <li>
                                    <i class="careerfy-icon careerfy-arrows22"></i>
                                    <input type="submit" value="Subcribe">
                                </li>
                            </ul>
                        </form>
                    </div>
                </aside>
                <aside class="col-md-3">
                    <div class="widget jobsearch_twitter_widget">
                        <div class="jobsearch_twitter_widget_wrap">
                            <p>Great fun commentating with @mj_slats that last 30 mins ! We were riding the emotion of
                                the game with all our viewers, was great fun, enjoyed itx</p>
                            <span>3 hours ago</span>
                        </div>
                        <small><i class="fa fa-twitter"></i> @ShaneWarne</small>
                    </div>
                </aside>
            </div>
        </div>
        <!-- Footer Widget -->
        <!-- CopyRight -->
        <div class="careerfy-copyright-two">
            <ul class="careerfy-copyright-social">
                <li><a href="#" class="careerfy-icon careerfy-facebook-logo"></a></li>
                <li><a href="#" class="careerfy-icon careerfy-twitter-logo"></a></li>
                <li><a href="#" class="careerfy-icon careerfy-linkedin-button"></a></li>
                <li><a href="#" class="careerfy-icon careerfy-dribbble-logo"></a></li>
            </ul>
            <p>Copyrights © 2018 All Rights Reserved by EyeCix</p>
            <ul class="careerfy-copyright-download">
                <li>Download Apps</li>
                <li><a href="#" class="careerfy-icon careerfy-apple"></a></li>
                <li><a href="#" class="careerfy-icon careerfy-android-logo"></a></li>
            </ul>
        </div>
        <!-- CopyRight -->
    </div>
</footer>